<h2>Контакты</h2>

<form action="/contacts" method="POST" role="form">

	<div class="form-group">
		<label>Ваш Email</label>
		<input name="usermail" value="<%= @usermail %>" type="email" class="form-control" placeholder="Email">
	</div>

	<div class="form-group">
		<textarea name="usermessage" class="form-control" placeholder="Ваше сообщение"><%= @usermessage %></textarea>
	</div>

	<button type="submit" class="btn btn-primary">Отправить</button>

</form>