<form action='/login/attempt' method='post' class="form-block well">
	<input type="text" name='username' placeholder="username" class="form-control col-3" autofocus><br/>
	<input type="password" name='userpass' placeholder="password" class="form-control col-3" id="exampleInputPassword1" autofocus><br/>
	<input class="btn btn-primary" type='submit' value='log in'>
</form>

